@import "./variables-sheet.less";
@headerHeight: 100px;
@navHeight: 30px;

.assh2e.sheet {

    .tox.tox-tinymce {
        /* Doing this because height keeps defaulting to 0 */
        height: 100% !important;
    }

    .editor {
        height: 100%;
        border: 1px solid @colorBlack;
    }
        
    .sheet-header {
        flex: 0 0 @headerHeight;
        border-bottom: @borderGroove;
    }

    .sheet-navigation {
        flex: 0 0 @navHeight;
        margin-bottom: 5px;
    
        .item {
          height: 30px;
          line-height: 32px;
          margin: 0 24px;
        }
    }

    .form-group {
        label {
            flex: 2;
            font-weight: bold;
        }

    .form-fields {
        .flexrow();
            > * {
                margin: 0 3px 0 0;
                &:last-child { margin-right: 0; }
            }
    }
  }

  .form-group.stacked > label {
    flex: 0 0 100%;
    margin: 0;
}
    
}
  
