.assh2e.sheet.item {
    form {
        display: flex;
        flex-direction: column;
    }

    .sheet-navigation {
        margin-bottom: 5px;
    }

    .sheet-content {
        height: 100%;

        .tab {
            height: 100%;
        }
    }

    .weapon-properties {

        label.checkbox {
            flex: 0 0 250px;
        }
    }
}