.assh2e.sheet.item form {
  display: flex;
  flex-direction: column;
}
.assh2e.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.assh2e.sheet.item .sheet-content {
  height: 100%;
}
.assh2e.sheet.item .sheet-content .tab {
  height: 100%;
}
.assh2e.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 250px;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.assh2e.sheet .tox.tox-tinymce {
  /* Doing this because height keeps defaulting to 0 */
  height: 100% !important;
}
.assh2e.sheet .editor {
  height: 100%;
  border: 1px solid #000000;
}
.assh2e.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
}
.assh2e.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
}
.assh2e.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
}
.assh2e.sheet .form-group label {
  flex: 2;
  font-weight: bold;
}
.assh2e.sheet .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.assh2e.sheet .form-group .form-fields > * {
  flex: 1;
}
.assh2e.sheet .form-group .form-fields .flex1 {
  flex: 1;
}
.assh2e.sheet .form-group .form-fields .flex2 {
  flex: 2;
}
.assh2e.sheet .form-group .form-fields .flex3 {
  flex: 3;
}
.assh2e.sheet .form-group .form-fields .flex4 {
  flex: 4;
}
.assh2e.sheet .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.assh2e.sheet .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.assh2e.sheet .form-group.stacked > label {
  flex: 0 0 100%;
  margin: 0;
}
