<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="New Item"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="tabs sheet-navigation" data-group="primary">
        <a class="item active" data-tab="description" data-group="primary"> 
            Description
        </a>
        <a class="item" data-tab="details" data-group="primary">
            Details
        </a>
        <!-- <a class="item" data-tab="properties" data-group="primary">
            Properties
        </a> -->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-content content">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor 
                content=data.description.value 
                target="data.description.value" 
                button=true 
                owner=owner 
                editable=editable
            }}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            <div class="form-group">
                <label>{{localize 'ASSH2E.WeaponType'}}</label>
                <select name="data.weaponType">
                   {{#select data.weaponType}}
                   {{#each config.weaponTypes as |name type|}}
                   <option value="{{type}}">{{name}}</option>
                   {{/each}}
                   {{/select}}           
                </select>
            </div>

            <div class="form-group">
                <label>Weapon Class</label>
                {{ numberInput 
                    data.weaponClass 
                    name="data.weaponClass"
                    placeholder="0"
                    max=6
                    min=0
                    step=1
                }}
            </div>


            <div class="form-group stacked weapon-properties">
                <label>Weapon Properties</label>
                {{#each config.weaponProperties as |name prop|}}
                <label class="checkbox">
                    <input 
                        type="checkbox"
                        name="data.properties.{{prop}}"
                        {{checked (lookup ../data.properties prop)}}/>
                    {{ name }}
                </label>
                {{/each}}
            </div>
        </div>
    </div>        
</form>
